.projimg {
    width: 40%;
}
body {
    font-family: 'Muli', sans-serif;
}
header {
    padding: 15px 10px;
    width: calc(100% - 20px);
    background-color: #005DA4;
    height: 50px;
}
header nav a {
    padding: 0px 10px;
}
header .wrapper {
    width: 90%;
    margin: 0px 5%;
}
header .wrapper .logo svg {
    height: 50px;
    float: left;
    color: white;
}
header .wrapper nav {
    height: 50px;
    float: right;
}
header .wrapper nav a {
    line-height: 50px;
    color: white;
    text-decoration: none;
}
